/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progress12 {
    width: 112px !important;
    height: 112px !important;
    background: none !important;
    position: relative !important;
  }
  
  .progress12::after {
    content: "" !important;
    width: 96% !important;
    height: 96% !important;
    border-radius: 50% !important;
    border: 2px solid #D2EADA !important;
    position: absolute !important;
    top: 2px !important;
    left: 2px !important;
    background-color: #F3F8F5;
  }
  
  
  .progress12>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    
  }
  
  .progress12 .progress-left {
    left: 0;
    
  }
  
  .progress12 .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    border-color: #61CD84;
    position: absolute;
    top: 0;
    background-color: #F3F8F5;
    
  }
  
  .progress12 .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress12 .progress-right {
    right: 0;  
  }
  
  
  .progress12 .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    
  }
  
  .progress12 .progress-value {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
  
  .h2{
    z-index: 1000;
    background-color: #fff;
    border-radius: 50%;
    font-size: 22px;
    height: 68px;
    width: 68px;
    margin: 8px auto;
    padding: 20px 13px;
  }
  
  .h2 span{
    font-size: 14px;
  }

  /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progress11 {
    width: 56px !important;
    height: 56px !important;
    background: none !important;
    position: relative !important;
  }
  
  .progress11::after {
    content: "" !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% !important;
    border: 1px solid #F4E7D4 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    background-color: #F5F1EA;
  }
  
  
  .progress11>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    
  }
  
  .progress11 .progress-left {
    left: 0;
    
  }
  
  .progress11 .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    border-color: #FF9900;
    position: absolute;
    top: 0;
    background-color: #F5F1EA;
    
  }
  
  .progress11 .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    
    
  }
  
  .progress11 .progress-right {
    right: 0;
   
  }
  
  
  .progress11 .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    
  }
  
  .progress11 .progress-value {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
  
  .h4{
    z-index: 1000;
    background-color: #fff;
    border-radius: 50%;
    font-size: 8px;
    height: 32px;
    width: 32px;
    margin: 8px auto;
    padding: 10px 5px;
  }
  
  .h4 span{
    font-size: 4px;
  }


   /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progress13 {
    width: 80px !important;
    height: 80px !important;
    background: none !important;
    position: relative !important;
  }
  
  .progress13::after {
    content: "" !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% !important;
    border: 1.5px solid #F4E7D4 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    background-color: #F5F1EA;
  }
  
  
  .progress13>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    
  }
  
  .progress13 .progress-left {
    left: 0;
    
  }
  
  .progress13 .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    border-color: #FF9900;
    position: absolute;
    top: 0;
    background-color: #F5F1EA;
    
  }
  
  .progress13 .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    
    
  }
  
  .progress13 .progress-right {
    right: 0;
   
  }
  
  
  .progress13 .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    
  }
  
  .progress13 .progress-value {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
  
  .h5{
    z-index: 1000;
    background-color: #fff;
    border-radius: 50%;
    height: 47px;
    width: 47px;
  }

  .h5 p{
    font-size: 9px;
    padding: 0px 5px;
  }

