@font-face {
    font-family: Circular;
    src: url('https://thestackcoder.github.io/zak-fba/circular-std/fonts/CircularStd-Bold.woff');
}

@font-face {
    font-family: Circular_Medium;
    src: url('https://thestackcoder.github.io/zak-fba/circular-std/fonts/CircularStd-Medium.woff');
}

@font-face {
    font-family: Circular_Book;
    src: url('https://thestackcoder.github.io/zak-fba/circular-std/fonts/CircularStd-Book.woff');
}


body{
    background-color: #E5E5E5;
    font-family: Circular;
}

.card{
    width: 350px;
    margin: 80px auto;
    border-radius: 10px;
    border: none;
}

.card-header{
    background-color: #FF9900;
    border-radius: 10px 10px 0 0 !important;
    padding: 0rem 0.8rem 0rem 0.5rem!important;
    border: none !important;
}

.card-body{
    padding: 1rem 1.35rem;
}

.upgrade{
    height: 25px;
    width: 60px;
    font-size: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    color: #FF9900;
}

button:focus {outline:0;}
button{
    color: #3E4042;
    font-weight: bold !important;
}

.logo{
    width: 60px;
    height: 40px;
}

.cross{
    width: 10px !important;
}

a{
    text-decoration: none !important;
}

.illus{
    width: 189.29px;
}

.save{
    width: 300px;
    font-size: 12px;
    height: 40px;
}

.or{
    font-size: 12px;
    font-family: Circular_Medium !important;
}

#btn-warning{
    background-color: #FF9900;
}


#buy{
    background-color: #F2F4F6;
}

.para{
    color: #3E4042;
    text-align: center;
    font-size: 12px;
}

.facebook, .youtube, .noti{
    width: 27px;
}

.footer{
    color: #777777;
    font-size: 12px;
    margin-top: 35px;
    font-family: Circular_Book;
}

.footer a{
    color: #777777;
}

.medium{
    font-family: Circular_Medium !important;
}

input{
    background-color: #F2F4F6;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 300px !important;
}

input:focus{
    outline:0;
    font-size: 12px;
    color: #3E4042;
}

#partitioned {
    padding-left: 15px;
    letter-spacing: 7px;
    width: 300px;
    min-width: 300px;
    height: 40px;
    text-align: center;
    font-size: 12px;
  }
  
  #divOuter{
    width: 300px; 
    overflow: hidden;
  }

  ::placeholder{
      color: #D2D4D7;
      size: 32px;
  }
